{% extends 'layouts/base_admin.html.twig' %}

{% block title %}Band index{% endblock %}

{% block content %}
    <h1 class="text-2xl mb-2">Bands</h1>

    <a href="{{ path('app_band_new') }}" class="btn btn-primary my-2">Create new</a>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for band in bands %}
            <tr>
                <td>{{ band.id }}</td>
                <td>{{ band.name }}</td>
                <td>{{ band.musicGenre.name }}</td>
                <td>
                    <a href="{{ path('app_band_show', {'id': band.id}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('app_band_edit', {'id': band.id}) }}" class="btn btn-secondary">Edit</a>
                    {{ include('band/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No Records Found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
